.events-grid {
  &__item {
    @include media(mobile, up) {
      overflow: hidden;
    }

    @include media(mobile) {
      padding-top: 60px;
    }

    &:first-child {
      @include media(mobile) {
        padding-top: 0;
      }

      .events-group__item:first-child {
        padding-top: 0;
      }

      .events-group__date {
        @include media(mobile, up) {
          margin-top: 39px;
        }
      }
    }

    .events-group__item:first-child {
      @include media(mobile, up) {
        overflow: visible;
      }

      @include media(mobile) {
        padding-top: 0;
      }
    }
  }
}