.main-services {
  @include media(mobile, up) {
    padding: 50px 0;
  }

  @include media(mobile) {
    padding: 0 0 45px;
  }

  &__grid {
    display: grid;
    gap: 10px;

    @include media(mobile, up) {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 10px;
    }

    @include media(mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background-color: $color-primary;

    @include media(mobile, up) {
      grid-row: auto / span 14;
    }

    @include media(mobile) {
      grid-row: auto / span 11;
    }

    &:hover {
      background-color: $color-primary-hover;
    }

    &--xl {
      @include media(mobile, up) {
        grid-column: auto / span 2;
        grid-row: auto / span 28;
      }

      @include media(mobile) {
        grid-row: auto / span 20;
      }
    }

    &--ticket {
      background-color: unset;

      &:hover {
        background-color: unset;
      }

      @include media(mobile, up) {
        grid-column: auto / span 2;
        grid-row: auto / span 11;
      }
    }

    &--home-cell {
      @include media(mobile, up) {
        grid-row: auto / span 17;
      }
    }
  }
}