.main-departments {
  @include media(tabletSmall, up) {
    padding-top: 100px;
  }

  @include media(tabletSmall, only) {
    padding-top: 65px;
  }

  @include media(mobile) {
    padding: 50px 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    @include media(tabletSmall) {
      gap: 30px;
    }

    @include media(mobile) {
      grid-template-columns: 1fr;
      gap: 0;
      margin: -18px 0;
    }
  }

  &__item {
    &:first-child {
      .department-item {
        border-top: unset;
      }

      .icon {
        @include media(mobile) {
          height: 40px;
        }
      }
    }
  }
}

