.main-departments {
  @include media(tabletSmall, up) {
    padding: 100px 0 50px;
  }

  @include media(tabletSmall) {
    padding: 60px 0 50px;
  }

  @include media(mobile) {
    padding: 55px 0 50px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    @include media(tabletSmall) {
      gap: 30px;
    }

    @include media(mobile) {
      grid-template-columns: 1fr;
      gap: 0;
      margin: -18px 0;
    }
  }

  &__item {
    &:first-child .department-item {
      border-top: unset;
    }
  }
}

