.media-source {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

  @include media(mobile) {
    margin-top: 60px;
  }

  &__link {
    display: block;
    margin: 0 70px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @include media(mobile) {
      margin: 0 35px;
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: 25px;

      @include media(mobile) {
        margin-bottom: 18px;
      }
    }
  }
}