.news-all {
  &__list {
    display: grid;

    @include media(tabletSmall, up) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 50px 40px;
    }

    @include media(tabletSmall) {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      gap: 50px 20px;
    }

    @include media(mobile) {
      gap: 45px;
    }
  }
}