.page-error {
  position: relative;

  &:last-child {
    padding-bottom: 0!important;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(tabletSmall, up) {
      min-height: 650px;
      padding-bottom: 180px;
      justify-content: flex-end;
    }

    @include media(tabletSmall) {
      min-height: 100vh;
      justify-content: center;
    }
  }

  &__title {
    display: block;
    margin: 0;
    color: $color-light;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.02em;

    @include media(tabletSmall) {
      max-width: 700px;
    }

    @include media(mobile) {
      max-width: 300px;
      font-size: 18px;
      line-height: 21px;
    }

    span {
      display: block;
      margin: 0 0 30px;
      font-family: 'Book Antiqua', sans-serif;
      font-weight: bold;
      font-size: 72px;
      line-height: 1;
      text-align: center;
      letter-spacing: 0.02em;
    }
  }

  &__actions {
    margin-top: 80px;

    @include media(tabletSmall) {
      margin-top: 170px;
    }

    @include media(mobile) {
      margin-top: 35px;
    }
  }

  &__bg {
    @include fill;
    z-index: -1;

    &::after {
      @include fill;
      z-index: 1;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.05) 100%);;
    }

    img {
      @include fill;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}