{{#>blocks/common/section title="Выставки" pagination=1}}
  <div class="section__nav section__nav--flex">
    {{>blocks/section-nav/expositions}}
    <div class="section__nav-side">
      <a href="#" class="btn">Виртуальная экскурсия</a>
    </div>
  </div>
  <div class="section__content">
    <div class="events-grid">
      <ul class="events-grid__list">
        <li class="events-grid__item">
          {{#>widgets/events-group date-1="23" month-1="сентября" date-2="08" month-2="ноября"}}
            {{>widgets/events-card
                card-img="01"
                entrance="Вход: 100 руб"
                category="постоянная экспозиция"
                title="Название события в две строчки уместится, даже если оно очень длинное"
                single-text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle."
                buy-ticket=1
                location="Государственный художественный музей"
            }}
          {{/widgets/events-group}}
        </li>
        <li class="events-grid__item">
          {{#>widgets/events-group date-1="23" month-1="сентября" date-2="08" month-2="ноября"}}
            {{>widgets/events-card
                card-img="03"
                category="временные выставки"
                title="Название события"
                single-text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. "
                buy-ticket=1
                location="Галерея-мастерская художника Г.&nbsp;С.&nbsp;Райшева"
            }}
          {{/widgets/events-group}}
        </li>
        <li class="events-grid__item">
          {{#>widgets/events-group date-1="23" month-1="сентября" date-2="08" month-2="ноября 2019"}}
            {{>widgets/events-card
                card-img="03"
                entrance="Вход: 100 руб"
                category="постоянная экспозиция"
                title="Название события в две строчки"
                single-text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle."
                buy-ticket=1
                location="Дом-музей народного художника СССР В.&nbsp;А.&nbsp;Игошева"
            }}
          {{/widgets/events-group}}
        </li>
      </ul>
    </div>
  </div>
{{/blocks/common/section}}
