{{#>blocks/common/section title="Выставки" pagination=1}}
  <div class="section__nav">
    <div class="section-nav">
      <ul class="section-nav__tabs">
        <li class="section-nav__tabs-item">
          <a class="section-nav__tabs-link section-nav__tabs-link--current" href="#">все новости</a>
        </li>
        <li class="section-nav__tabs-item">
          <a class="section-nav__tabs-link" href="#">2020</a>
        </li>
        <li class="section-nav__tabs-item">
          <a class="section-nav__tabs-link" href="#">2019</a>
        </li>
        <li class="section-nav__tabs-item">
          <a class="section-nav__tabs-link" href="#">2018</a>
        </li>
        <li class="section-nav__tabs-item">
          <a class="section-nav__tabs-link" href="#">2017</a>
        </li>
        <li class="section-nav__tabs-item">
          <a class="section-nav__tabs-link" href="#">2016</a>
        </li>
        <li class="section-nav__tabs-item">
          <a class="section-nav__tabs-link" href="#">2015</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="section__content">
    <div class="events-grid">
      <ul class="events-grid__list">
        <li class="events-grid__item">
          {{#>widgets/events-group date-1="23" month-1="сентября" date-2="08" month-2="ноября"}}
            {{>widgets/events-card
                card-img="01"
                entrance="Вход: 100 руб"
                category="постоянная экспозиция"
                title="Название события в две строчки уместится, даже если оно очень длинное"
                text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle."
                buy-ticket=1
            }}
          {{/widgets/events-group}}
        </li>
        <li class="events-grid__item">
          {{#>widgets/events-group date-1="23" month-1="сентября" date-2="08" month-2="ноября"}}
            {{>widgets/events-card
                card-img="03"
                category="временные выставки"
                title="Название события"
                text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. "
                buy-ticket=1
            }}
          {{/widgets/events-group}}
        </li>
        <li class="events-grid__item">
          {{#>widgets/events-group date-1="23" month-1="сентября" date-2="08" month-2="ноября"}}
            {{>widgets/events-card
                card-img="03"
                entrance="Вход: 100 руб"
                category="постоянная экспозиция"
                title="Название события в две строчки"
                text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle."
                buy-ticket=1
            }}
          {{/widgets/events-group}}
        </li>
      </ul>
    </div>
  </div>
{{/blocks/common/section}}
