{{#>blocks/common/section section-class="single-event"}}
  <div class="section__content section__content--no-mt">
    {{#>blocks/common/event-page
        title="Название события в две строчки уместится, даже если оно очень длинное"
        category="Категория"
        period="<span>23</span> сентября — <span>08</span> ноября"
        price="Вход: 100 руб"
        card-img="04"
        location="Государственный <br> художественный&nbsp;музей"
        info=1
        buy-ticket=1
    }}
      <p>В Галерее-мастерской Г.С. Райшева открылась выставка из цикла «Из мастерской художника». В экспозиции
        представлен портрет учителя Геннадия Степановича Райшева, известного сургутского педагога Аркадия Степановича
        Знаменского, оставившего яркий след в истории образования Западной Сибири.</p>
      <p>Геннадий Райшев: «Аркадий Степанович у нас преподавал не столько физику, сколько давал какое-то удивительное
        желание все постигать, быть самостоятельными.На уроках он заставлял нас думать…»</p>
      <p>А.С. Знаменский сумел воспитать многие поколения сургутян, ставших выдающимися деятелями науки, техники и
        искусства. Среди них - заслуженный художник России Геннадий Степанович Райшев и выдающийся краевед Югры,
        заслуженный деятель культуры ХМАО-Югры Валерий Константинович Белобородов, чья книга «Тропа жизни учителя
        Знаменского» была проиллюстрирована Г.С. Райшевым. В своей статье «Учитель на всю жизнь» художник пишет:
        «Многие его ученики, в том числе и я, не смогли бы что-нибудь сделать, если бы на жизненном пути не встретился
        такой мудрый учитель, как Аркадий Степанович Знаменский». Характерной особенностью его педагогической работы
        был глубокий интерес к окружающему миру и «неизбывное желание докопаться до первопричины исследуемого
        явления».</p>
      <p>Выставка продолжит работу до 30 октября.</p>
    {{/blocks/common/event-page}}

  </div>
{{/blocks/common/section}}
