<div class="collections-card{{#if main}} collections-card--main{{/if}}">
  <a class="collections-card__link" href="#" aria-label="Описание ссылки"></a>
  {{#if img}}<div class="collections-card__image">{{>components/image img=(concat 'collections/' img) ext="jpg"}}</div>{{/if}}
  <h2 class="collections-card__title">{{{title}}}</h2>
</div>