<div class="collection-single js-collection-group__item">
  <a class="collection-single__link" href="#" aria-label="Описание ссылки"></a>
  {{>components/image img=(concat 'collections/group/' img) ext="jpg"}}
  <div class="collection-single__content">
    <span class="collection-single__author">{{author}}</span>
    <h2 class="collection-single__name">{{name}}</h2>
    <span class="collection-single__years">{{years}}</span>
  </div>
</div>