<article class="news-card">
  <div class="news-card__image">
    <a class="news-card__image-link" href="#">
      {{>components/image img=img ext="jpg"}}
    </a>
  </div>
  <time class="news-card__time" datetime="{{datetime}}">{{time}}</time>
  <p class="news-card__text">{{text}}</p>
  <div class="news-card__action">
    <a class="news-card__link" href="#">подробнее {{>icons/arrow-right}}</a>
  </div>
</article>