<div class="partner-card">
  <a class="partner-card__link" href="#">
    <div class="partner-card__image">
      {{>components/image img=(concat 'partners/' img) ext="png"}}
    </div>
    <span class="partner-card__title">{{title}}</span>
  </a>
</div>