<blockquote class="reviews-card">
  <div class="reviews-card__meta">
    <time class="reviews-card__meta-date" datetime="12-12-2020">{{date}}</time>
  </div>
  <div class="reviews-card__content">
    <p class="reviews-card__text">{{text}}</p>
  </div>
  <footer class="reviews-card__author">
    <cite class="reviews-card__author-name">{{name}}</cite>
  </footer>
</blockquote>