.custom-calendar {
  &__label {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0 2px 49px;
    height: 38px;
    cursor: pointer;
    transition: opacity 350ms ease;
    border-bottom: 1px solid;

    .filled & {
      padding-right: 20px;
    }

    &:hover {
      opacity: 0.75;
    }

    &:focus-within {
      opacity: 1;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 20px;
      content: '';
      @include sprite('archive');
      margin-right: 9px;
      transform: translateY(-50%);
    }
  }

  &__label-text {
    @include fill;
    display: block;
    padding: 11px 20px 11px 49px;
    color: $color-dark;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    opacity: 1;

    .filled & {
      opacity: 0;
    }
  }

  &__input {
    z-index: z(default) + 1;
    display: inline-block;
    padding: 0;
    width: 100%;
    max-width: 130px;
    height: 38px;
    border: none;
    border-radius: unset;
    outline: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;

    @include media(mobile) {
      font-size: 16px;
      line-height: 1;
      max-width: initial;
      height: 38px;
    }

    &::placeholder {
      display: none;
      opacity: 0;
    }

    &:placeholder-shown {
      ~ .custom-calendar__clear {
        opacity: 0;
        pointer-events: none;
      }
    }

    .flatpickr &:not(.input) {
      @extend .visually-hidden;
      width: 130px;
    }

    &.input {
      font-weight: 500;
      color: $color-dark;

      @include media(mobile) {
        font-size: 13px;
      }
    }
  }

  &__clear {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: z(default) + 2;
    transform: translateY(-50%);

    @include media(mobile) {
      width: 25px;
      height: 25px;
    }

    .flatpickr & {
      right: 0;
    }
  }

  &--outline {
    .custom-calendar {
      &__label {
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0;
        height: 100%;
        width: 100%;
        max-width: initial;
        border: unset;

        &:hover {
          opacity: initial;
        }

        &:focus-within {
          opacity: initial;

          &.error-empty .form-message {
            display: none;
          }

          &.error-empty .custom-calendar__input,
          &.error-empty .custom-calendar__label-text,
          &.error-empty .custom-calendar__input::placeholder {
            color: #BAB8B5;
          }
        }

        &::before {
          display: none;
        }

        &.error .custom-calendar__input,
        &.error .custom-calendar__label-text,
        &.error .custom-calendar__input::placeholder {
          color: #EB5757;
        }

        &.error-empty .custom-calendar__input,
        &.error-empty .custom-calendar__label-text,
        &.error-empty .custom-calendar__input::placeholder {
          color: transparent;
        }
      }

      &__label-text {
        display: inline-block;
        top: 16px;
        left: 16px;
        bottom: unset;
        right: unset;
        padding: 0;
        font-size: 13px;
        line-height: 15px;
        font-weight: 400;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #BAB8B5;

        @include media(mobile) {
          font-size: 16px;
          line-height: 1;
        }
      }

      &__input {
        max-width: initial;
        height: auto;
        padding: 15px 16px 13px;
        border: 1px solid $color-dark;
        font-size: 13px;
        line-height: 15px;
        font-weight: 400;
        letter-spacing: 0.02em;
        text-transform: uppercase;

        @include media(mobile) {
          font-size: 16px;
          line-height: 18px;
          min-height: 48px;
        }

        &:hover {
          opacity: initial;
        }

        &[disabled] {
          opacity: 0.25;
          pointer-events: none;
        }

        &:placeholder-shown {
          ~ .custom-calendar__clear {
            opacity: 0;
            pointer-events: none;
          }
        }
      }
    }
  }
}