.page {
  .flatpickr-calendar {
    padding: 25px;
    width: auto;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0;

    &::before,
    &::after {
      display: none!important;
    }
  }

  .flatpickr-weekdays {
    height: 40px;
  }

  .flatpickr-weekday {
    font-weight: bold;
    color: $color-dark;
  }

  .flatpickr-days {
    width: auto;
  }

  .flatpickr-day {
    display: block;
    width: 100%;
    min-width: auto;
    max-width: unset;
    height: 100%;
    font-size: 12px;
    border-radius: unset;
    border: unset;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    @include transition;

    &:nth-child(7n + 1) {
      border-left: 1px solid #DFDFDF;
    }

    &:nth-child(-n + 7) {
      border-top: 1px solid #DFDFDF;
    }

    &:hover {
      background-color: #DFDFDF;
      border-color: #DFDFDF;
    }

    &.selected {
      color: $color-light;
      font-weight: bold;
      border-color: $color-primary;
      background-color: $color-primary;

      &:hover {
        background-color: $color-primary-hover;
        border-color: $color-primary-hover;
      }
    }

    &.today {
      color: $color-light;
      font-weight: bold;
      border-color: $color-primary-hover;
      background-color: $color-primary-hover;

      &:hover {
        background-color: $color-primary;
        border-color: $color-primary;
      }
    }

    &.prevMonthDay,
    &.nextMonthDay {
      &:not(:hover) {
        background-color: #FCFCFC;
      }
    }
  }

  .dayContainer {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-auto-rows: 40px;
    gap: 0;
    min-width: auto;
    max-width: unset;
    width: auto;
  }

  .flatpickr-months {
    padding-bottom: 20px;
  }

  .flatpickr-prev-month,
  .flatpickr-next-month {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flatpickr-month {
    order: -1;

    *,
    *::placeholder {
      font-weight: bold !important;
      font-size: 18px !important;
      line-height: 22px !important;
    }
  }

  .flatpickr-current-month {
    position: static;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .flatpickr-prev-month,
  .flatpickr-next-month {
    position: relative;
    left: 7px!important;
    padding: 10px 5px;

    &:hover svg {
      opacity: 0.2;
      fill: $color-dark;
    }

    svg {
      @include transition;
    }
  }

  .flatpickr-monthDropdown-months {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0;
    background-color: transparent;
  }
}