.page .qs {
  &-datepicker {
    padding: 25px;
  }

  &-datepicker-container {
    width: auto;
    font-family: "Ubuntu", sans-serif;
    border-radius: unset;
    border: 1px solid #E0E0E0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    //@media (hover: none) {
    //  display: none;
    //}
  }

  &-controls {
    justify-content: flex-end;
    background: $color-white;
    border: unset;
    padding-bottom: 25px;
  }

  &-month-year {
    order: -1;
    margin-right: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    border-bottom: 0 none;
    cursor: default;

    &:hover {
      border-bottom: 0 none;
    }
  }

  &-squares {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
  }

  &-square {
    width: 40px;
    height: 40px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    border-radius: 0;

    &:not(.qs-day) {
      border: unset;
      border-right: 1px solid #DFDFDF;
      border-bottom: 1px solid #DFDFDF;
    }

    &:nth-child(7n + 1) {
      border-left: 1px solid #DFDFDF;
    }

    &:nth-child(-n + 7) {
      border: unset;
      border-bottom: 1px solid #DFDFDF;
    }

    &.qs-current {
      font-weight: 700;
      background-color: $color-primary;
      color: $color-white!important;
      text-decoration: none;

      &.qs-empty {
        background-color: rgba(#CFA968, 0.35);
      }

      &:hover {
        background-color: $color-primary-hover!important;
      }
    }

    &.qs-active {
      font-weight: 700;
      background-color: $color-primary-hover;
      color: $color-white!important;

      &.qs-empty {
        background-color: rgba(#CFA968, 0.35);
      }

      &:hover {
        background-color: $color-primary!important;
      }
    }

    &.qs-day {
      color: $color-dark;
      font-weight: bold;
    }

    &.qs-outside-current-month {
      color: #BCBCBC;
    }
  }
}

.qs-arrow.qs-left {
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    position: relative;
    top: 0;
    right: -5%;
    display: block;
    width: 8px;
    height: 8px;
    border: unset;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(135deg);
  }
}

.qs-arrow.qs-right {
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    position: static;
    display: block;
    width: 8px;
    height: 8px;
    border: unset;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
  }
}

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background-color: $color-gray-40;
}

.qs-outside-current-month {
  opacity: 1;
}