.page-pagination {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    min-height: 20px;

    &:not(span):hover {
      color: $color-primary;
    }

    &:not(span):active {
      color: $color-primary-hover;
    }

    &--current {
      font-weight: bold;
    }

    &--arrow {
      color: $color-primary;

      &:hover {
        color: $color-primary-hover;
      }

      &:active {
        color: $color-dark;
      }
    }
  }

  span {
    pointer-events: none;
  }
}