.slider-thumbs {
  position: relative;
  margin-top: 20px;

  .swiper-button-next {
    &::after {
      left: 2px;

      @include media(mobile) {
        left: 1px;
      }
    }
  }

  .swiper-slide {
    position: relative;

    &::after {
      content: '';
      display: block;
      padding-top: 56%;
    }

    iframe,
    img {
      @include fill;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__thumbs {
    margin-top: 20px;

    .swiper-slide {
      height: 100%;
      max-width: 90px;
      cursor: pointer;

      &:hover {
        &::before {
          background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.3) 100%);
        }

        .slider-thumbs__video-icon::before {
          transform: scale(1.2);
        }
      }

      &::before {
        @include fill;
        z-index: z(backdrop);
        content: '';
        display: block;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
        @include transition;
        opacity: initial;
      }

      &::after {
        padding-top: 100%;
      }

      &-thumb-active {
        &::before {
          opacity: 0;
        }
      }

      img {
        z-index: z(backdrop) - 1;
        object-fit: cover;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    > * + * {
      margin-left: 40px;
    }
  }

  &__nav-item {
    --swiper-navigation-size: 20px;
    --swiper-navigation-color: var(--color-primary);

    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-weight: bold;
    background-color: unset;
    border-radius: unset;
    @include transition;

    @include media(mobile) {
      --swiper-navigation-size: 12px;
    }

    &:hover {
      color: var(--color-primary-hover);
    }

    &::after {
      display: none;
    }

    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__video-icon {
    @include fill;
    z-index: z(default) + 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      position: relative;
      left: 2px;
      display: block;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 22px solid $color-white;
      transform: scale(0.9);
      transition: transform 350ms ease;
    }
  }
}