{{>blocks/common/page-breadcrumbs label-1="Музей -детям" label-2="Музейно-образовательные программы"}}
{{#>blocks/common/section section-class="news-single" title="Заголовок" container-md=1 header-label="23. 02. 2020"}}
  <div class="section__content">
    <div class="static">
      <p>В Галерее-мастерской Г.С. Райшева открылась выставка из цикла «Из мастерской художника». В экспозиции
        представлен портрет учителя Геннадия Степановича Райшева, <a href="#">Текст ссылки</a> известного сургутского
        педагога Аркадия Степановича Знаменского, оставившего яркий след в истории образования Западной Сибири.</p>

      <a class="cta-link" href="#">Текст ссылки</a>

      <h2>Подзаголовок</h2>

      <p>В Галерее-мастерской Г.С. Райшева открылась выставка из цикла «Из мастерской художника». В экспозиции
        представлен портрет учителя <a href="#">Геннадия Степановича Райшева</a>, известного сургутского педагога
        Аркадия Степановича Знаменского, оставившего яркий след в истории образования Западной Сибири.</p>

      <p>Геннадий Райшев: «Аркадий Степанович у нас преподавал не столько физику, сколько давал какое-то удивительное
        желание все постигать, быть самостоятельными.На уроках он заставлял нас думать…»</p>

      <img src="../assets/images/static/img-01.jpg" alt="Подпись изображения">

      <p>В Галерее-мастерской Г.С. Райшева открылась выставка из цикла «Из мастерской художника». В экспозиции
        представлен портрет учителя Геннадия Степановича Райшева, известного сургутского педагога Аркадия Степановича
        Знаменского, оставившего яркий след в истории образования Западной Сибири.</p>

      <div class="two-columns">
        <div class="two-columns__item two-columns__item--video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/AAIch8gJ11g" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen loading="lazy"></iframe>
        </div>
        <div class="two-columns__item">
          <p>В Галерее-мастерской Г.С. Райшева открылась выставка из цикла «Из мастерской художника». В экспозиции
            представлен портрет учителя Геннадия Степановича Райшева, известного сургутского педагога Аркадия
            Степановича
            Знаменского, оставившего яркий след в истории образования Западной Сибири.</p>
        </div>
      </div>

      <hr>

      <div class="two-columns">
        <div class="two-columns__item">
          <p>В Галерее-мастерской Г.С. Райшева открылась выставка из цикла «Из мастерской художника». В экспозиции
            представлен портрет учителя Геннадия Степановича Райшева, известного сургутского педагога Аркадия
            Степановича
            Знаменского, оставившего яркий след в истории образования Западной Сибири.</p>
          <p> Геннадий Райшев: «Аркадий Степанович у нас преподавал не столько физику, сколько давал какое-то
            удивительное
            желание все постигать, быть самостоятельными.На уроках он заставлял нас думать…»</p>
        </div>
        <div class="two-columns__item two-columns__item--image">
          <img src="../assets/images/static/img-01.jpg" alt="Подпись изображения">
        </div>
      </div>

      <div class="two-columns">
        <div class="two-columns__item">
          <p> В Галерее-мастерской Г.С. Райшева открылась выставка из цикла «Из мастерской художника». В экспозиции
            представлен портрет учителя Геннадия Степановича Райшева, известного сургутского педагога Аркадия
            Степановича
            Знаменского, оставившего яркий след в истории образования Западной Сибири.</p>
          <p>Геннадий Райшев: «Аркадий Степанович у нас преподавал не столько физику, сколько давал какое-то
            удивительное
            желание все постигать, быть самостоятельными.На уроках он заставлял нас думать…»</p>
        </div>
        <div class="two-columns__item">
          <p>В Галерее-мастерской Г.С. Райшева открылась выставка из цикла «Из мастерской художника». В экспозиции
            представлен портрет учителя Геннадия Степановича Райшева, известного сургутского педагога Аркадия
            Степановича
            Знаменского, оставившего яркий след в истории образования Западной Сибири.</p>
        </div>
      </div>

      <div class="buttons-grid">
        {{>ui/btn-file btn-name="pdf" label="Геннадий Степанович Райшев.pdf"}}
        {{>ui/btn-file btn-name="word" label="Геннадий Степанович Райшев.word"}}
        {{>ui/btn-file btn-name="exel" label="Название файла более длинное в несколько&nbsp;строчек.exel"}}
      </div>

      <p>Нумерованный список</p>

      <ol>
        <li>В Галерее-мастерской Г.С. Райшева открылась выставка из цикла «Из мастерской художника». В экспозиции
          представлен портрет учителя <a href="#">Геннадия Степановича Райшева</a>, известного сургутского педагога
          Аркадия Степановича Знаменского, оставившего яркий след в истории образования Западной Сибири.
        </li>
        <li> Геннадий Райшев: «Аркадий Степанович у нас преподавал не столько физику, сколько давал какое-то
          удивительное желание все постигать, быть самостоятельными.На уроках он заставлял нас думать…»
        </li>
        <li> Геннадий Райшев: «Аркадий Степанович у нас преподавал не столько физику, сколько давал какое-то
          удивительное желание все постигать, быть самостоятельными.На уроках он заставлял нас думать…»
        </li>
        <li> Геннадий Райшев: «Аркадий Степанович у нас преподавал не столько физику, сколько давал какое-то
          удивительное желание все постигать, быть самостоятельными.На уроках он заставлял нас думать…»
        </li>
      </ol>

      <p>Маркированный список</p>

      <ul>
        <li>В Галерее-мастерской Г.С. Райшева открылась выставка из цикла «Из мастерской художника». В экспозиции
          представлен портрет учителя <a href="#">Геннадия Степановича Райшева</a>, известного сургутского педагога
          Аркадия Степановича Знаменского, оставившего яркий след в истории образования Западной Сибири.
        </li>
        <li> Геннадий Райшев: «Аркадий Степанович у нас преподавал не столько физику, сколько давал какое-то
          удивительное желание все постигать, быть самостоятельными.На уроках он заставлял нас думать…»
        </li>
        <li> Геннадий Райшев: «Аркадий Степанович у нас преподавал не столько физику, сколько давал какое-то
          удивительное желание все постигать, быть самостоятельными.На уроках он заставлял нас думать…»
        </li>
        <li> Геннадий Райшев: «Аркадий Степанович у нас преподавал не столько физику, сколько давал какое-то
          удивительное желание все постигать, быть самостоятельными.На уроках он заставлял нас думать…»
        </li>
      </ul>

      <p class="about-author">Имя Фамилия
        <br>
        <br>
        директор Государственного художественного музея; кандидат педагогических наук.
        <br>
        Член Союза Художников России. Заслуженный деятель культуры Ханты-Мансийского автономного округа – Югры</p>

      <p>Таблица</p>

      <div class="static-table">
        <table>
          <tbody>
          <tr class="visually-hidden">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and
              the stars
              had ceased to twinkle.
            </td>
            <td>1000</td>
          </tr>
          <tr>
            <td colspan="3">Apparently we had reached a great height in the atmosphere.</td>
            <td>2000</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="static-table">
        <table>
          <thead>
          <tr class="visually-hidden">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Заголовок</th>
            <th>1000</th>
            <th>Заголовок</th>
            <th>For the sky was a dead</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Заголовок</td>
            <td>2000</td>
            <td>Заголовок</td>
            <td>Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars
              had ceased to twinkle.
            </td>
          </tr>
          <tr>
            <td>Заголовок</td>
            <td>3000</td>
            <td>Заголовок</td>
            <td>Apparently we had reached a great height in the atmosphere.</td>
          </tr>
          </tbody>
        </table>
      </div>

      <blockquote>
        Цитата: директор Государственного художественного музея; кандидат педагогических наук.
        Член Союза Художников России. Заслуженный деятель культуры Ханты-Мансийского автономного округа – Югры
      </blockquote>
    </div>
  </div>
{{/blocks/common/section}}