{{>blocks/common/page-breadcrumbs label-1="Музей -детям" label-2="Музейно-образовательные программы"}}
{{#>blocks/common/section section-class="news-single" title="Заголовок" container-md=1 header-label="23. 02. 2020"}}
  <div class="section__content">

  </div>
{{/blocks/common/section}}