<section class="page-error">
  <div class="container">
    <div class="page-error__content">
      <h1 class="page-error__title"><span>404</span>Похоже мы не можем найти нужную Вам страницу</h1>
      <div class="page-error__actions">
        {{>ui/btn-arrow btn-mode="primary" label="На главную"}}
      </div>
      <div class="page-error__bg">
        {{>components/image img="hero/01" ext="jpg"}}
      </div>
    </div>
  </div>
</section>