<section class="section-home main-services">
  <div class="container">
    <div class="main-services__grid">
      <a class="main-services__item main-services__item--xl" href="./events.html">
        <div class="service-card">
          <div class="service-card__image">
            {{>components/image img="services/afisha" ext="jpg"}}
          </div>
          <p class="service-card__title service-card__title--big">Афиша</p>
        </div>
      </a>
      <a class="main-services__item main-services__item--ticket" href="#">
        <div class="ticket-big js-ticket">
          <span>Купить билет</span>
          <div class="ticket-big__bg">
            <video class="js-ticket__video" loop muted preload="auto">
              <!-- Полная версия видеофайла ~ 9Mb-->
              <source src="../assets/video/ticket-arts.mp4" type="video/mp4">
              <!-- Сжатая версия видеофайла ~ 230Kb-->
              <!-- <source src="../assets/video/ticket-arts_lite.mp4" type="video/mp4">-->
            </video>
          </div>
        </div>
      </a>
      <a class="main-services__item main-services__item--home-cell" href="#">
        <div class="service-card">
          <p class="service-card__title">Услуги</p>
        </div>
      </a>
      <a class="main-services__item main-services__item--home-cell" href="./expo.html">
        <div class="service-card">
          <div class="service-card__image">
            {{>components/image img="services/expo" ext="png"}}
          </div>
          <p class="service-card__title service-card__title--medium">Виртуальная выставка</p>
        </div>
      </a>
    </div>
  </div>
</section>