<section class="main-news">
  <div class="container">
    <div class="main-news__container">
      <div class="main-news__grid">
        <ul>
          <li>
            {{>widgets/news-card
                img="news/01"
                datetime="10-02-2020"
                time="10.02.2020"
                text="Apparently we had reached a great height in the atmosphere."
            }}
          </li>
          <li>
            {{>widgets/news-card
                img="news/02"
                datetime="10-02-2020"
                time="10.02.2020"
                text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. "
            }}
          </li>
          <li>
            {{>widgets/news-card
                img="news/03"
                datetime="10-02-2020"
                time="10.02.2020"
                text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black."
            }}
          </li>
        </ul>
      </div>
      <div class="main-news__action">
        <a class="main-news__link" href="./news.html">все новости</a>
      </div>
    </div>
  </div>
</section>