<section class="main-gallery js-slider-gallery">
  <div class="container">
    <div class="main-gallery__slider swiper-container js-slider-gallery__slider">
      <div class="main-gallery__grid swiper-wrapper js-slider-gallery__gallery">
        {{>widgets/gallery-item img="1" mode="main-gallery__item swiper-slide"}}
        {{>widgets/gallery-item img="2" mode="main-gallery__item swiper-slide"}}
        {{>widgets/gallery-item img="3" mode="main-gallery__item swiper-slide"}}
        {{>widgets/gallery-item img="1" mode="main-gallery__item swiper-slide"}}
        {{>widgets/gallery-item img="2" mode="main-gallery__item swiper-slide"}}
        {{>widgets/gallery-item img="2" mode="main-gallery__item swiper-slide"}}
        {{>widgets/gallery-item img="2" mode="main-gallery__item swiper-slide"}}
        {{>widgets/gallery-item img="1" mode="main-gallery__item swiper-slide"}}
        {{>widgets/gallery-item img="3" mode="main-gallery__item swiper-slide"}}
        {{>widgets/gallery-item img="2" mode="main-gallery__item swiper-slide"}}
      </div>
    </div>
    <div class="main-gallery__nav">
      {{>components/slider-nav nav-mode="center" class="js-slider-gallery"}}
    </div>
  </div>
</section>
