{{#>blocks/common/section-base}}
  <div class="gallery-section gallery-section--video js-slider-gallery--video{{#if loop}} js-slider-gallery--loop{{/if}}">
    <div class="container">
      <div class="gallery-section__slider swiper-container js-slider-gallery--video__slider">
        <div class="gallery-section__grid swiper-wrapper">
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item--video link="https://www.youtube.com/embed/QkmLRgUFzUY"}}
          </div>
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item--video link="https://www.youtube.com/embed/FHO6LL04YmI"}}
          </div>
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item--video link="https://www.youtube.com/embed/nfu5TL6MsUo"}}
          </div>
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item--video link="https://www.youtube.com/embed/CMa68VOlYwM"}}
          </div>
        </div>
      </div>
      <div class="gallery-section__nav">
        {{>components/slider-nav nav-mode="center" class="js-slider-gallery--video"}}
      </div>
    </div>
  </div>
{{/blocks/common/section-base}}
