{{#>blocks/common/section-base}}
  <div class="gallery-section js-slider-gallery">
    <div class="container">
      <div class="gallery-section__slider swiper-container js-slider-gallery__slider">
        <div class="gallery-section__grid swiper-wrapper js-slider-gallery__gallery">
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item img="1" data-size="1240x697"}}
          </div>
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item img="2" data-size="536x697"}}
          </div>
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item img="3" data-size="696x697"}}
          </div>
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item img="1" data-size="1240x697"}}
          </div>
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item img="2" data-size="536x697"}}
          </div>
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item img="2" data-size="536x697"}}
          </div>
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item img="2" data-size="536x697"}}
          </div>
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item img="1" data-size="1240x697"}}
          </div>
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item img="3" data-size="696x697"}}
          </div>
          <div class="gallery-section__item swiper-slide">
            {{>widgets/gallery-item img="2" data-size="536x697"}}
          </div>
        </div>
      </div>
      <div class="gallery-section__nav">
        {{>components/slider-nav nav-mode="center" class="js-slider-gallery"}}
      </div>
    </div>
  </div>
{{/blocks/common/section-base}}

