<div class="page-breadcrumbs">
  <div class="container">
    <div class="page-breadcrumbs__content">
      <span class="page-breadcrumbs__item"><a class="page-breadcrumbs__link" href="#">{{label-1}}</a></span>
      <span class="page-breadcrumbs__item page-breadcrumbs__item--divider">{{>icons/arrow-right arrow-mode="thin"}}</span>
      <span class="page-breadcrumbs__item">{{label-2}}</span>
    </div>
  </div>
</div>