{{#>blocks/common/section-base}}
  <div class="partners-slider js-slider-partners{{#if loop}} js-slider-partners--loop{{/if}}">
    <div class="container">
      <div class="swiper-container js-slider-partners__slider">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            {{>widgets/partner-card img="01" title="депАртамент культуры"}}
          </li>
          <li class="swiper-slide">
            {{>widgets/partner-card img="02" title="Югорский культурный форум"}}
          </li>
          <li class="swiper-slide">
            {{>widgets/partner-card img="03" title="Культура.рф"}}
          </li>
          <li class="swiper-slide">
            {{>widgets/partner-card img="04" title="Музеи Югры"}}
          </li>
          <li class="swiper-slide">
            {{>widgets/partner-card img="05" title="Музеи России"}}
          </li>
          <li class="swiper-slide">
            {{>widgets/partner-card img="default" title="Югорский культурный форум"}}
          </li>
          <li class="swiper-slide">
            {{>widgets/partner-card img="default" title="Югорский культурный форум"}}
          </li>
          <li class="swiper-slide">
            {{>widgets/partner-card img="default" title="Югорский культурный форум"}}
          </li>
          <li class="swiper-slide">
            {{>widgets/partner-card img="default" title="Югорский культурный форум"}}
          </li>
          <li class="swiper-slide">
            {{>widgets/partner-card img="default" title="Югорский культурный форум"}}
          </li>
          <li class="swiper-slide">
            {{>widgets/partner-card img="default" title="Югорский культурный форум"}}
          </li>
          <li class="swiper-slide">
            {{>widgets/partner-card img="default" title="Югорский культурный форум"}}
          </li>
        </ul>
      </div>
      <div class="partners-slider__nav">
        {{>components/slider-nav nav-mode="center" class="js-slider-partners"}}
      </div>
    </div>
  </div>
{{/blocks/common/section-base}}

