<section class="section{{#if section-mode}} section--{{section-mode}}{{/if}}{{#if section-class}} {{section-class}}{{/if}}">
  <div class="container{{#if container-md}} container--md{{/if}}">
    {{#if title}}
      <div class="section__header{{#if header-label}} section__header--with-label{{/if}}">
        {{#if header-label}}<span class="section__header-label">{{header-label}}</span>{{/if}}
        <h2 class="section__title{{#if title-center}} section__title--center{{/if}}">{{title}}</h2>
      </div>
    {{/if}}
    {{>@partial-block}}
    {{#if pagination}}
      <div class="section__pagination">
        {{>blocks/common/page-pagination}}
      </div>
    {{/if}}
  </div>
</section>
