<section class="section{{#if section-mode}} section--{{section-mode}}{{/if}}{{#if section-class}} {{section-class}}{{/if}}">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">{{title}}</h2>
    </div>
    {{>@partial-block}}
  </div>
</section>
