{{#>blocks/common/section-base}}
  <div class="social-share">
    <div class="container">
      <div class="social-share__content">
        <p class="social-share__title">Поделиться:</p>
        <ul class="social-share__list">
          <li><a class="social-share__link" href="#">{{>ui/svg name="twitter"}}</a></li>
          <li><a class="social-share__link" href="#">{{>ui/svg name="facebook"}}</a></li>
          <li><a class="social-share__link" href="#">{{>ui/svg name="vk"}}</a></li>
          <li><a class="social-share__link" href="#">{{>ui/svg name="insta"}}</a></li>
          <li><a class="social-share__link" href="#">{{>ui/svg name="ok"}}</a></li>
        </ul>
      </div>
    </div>
  </div>
{{/blocks/common/section-base}}