<div class="header-submenu">
  <div class="header-submenu__container">
    <div class="header-submenu__grid header-submenu__grid--no-columns">
      <ul class="header-submenu__list">
        <li class="header-submenu__item"><a class="header-submenu__link" href="#">Государственный Художественный музей</a></li>
        <li class="header-submenu__item"><a class="header-submenu__link" href="#">Дом-музей народного художника СССР В.&nbsp;А.&nbsp;Игошева</a></li>
        <li class="header-submenu__item"><a class="header-submenu__link" href="#">Галерея-мастерская художника Г.&nbsp;С.&nbsp;Райшева</a></li>
      </ul>
    </div>
  </div>
</div>
