<div class="header-submenu">
  <div class="header-submenu__container">
    <ul class="header-submenu__list">
      <li class="header-submenu__item"><a class="header-submenu__link" href="#">Музейно-образовательные программы</a></li>
      <li class="header-submenu__item"><a class="header-submenu__link" href="#">Театральная студия</a></li>
      <li class="header-submenu__item"><a class="header-submenu__link" href="#">Я рисую</a></li>
      <li class="header-submenu__item"><a class="header-submenu__link" href="#">Окружная выставка-конкурс «Волшебный калейдоскоп»</a></li>
      <li class="header-submenu__item"><a class="header-submenu__link" href="#">Конкурс детского рисунка «Я в музее»</a></li>
      <li class="header-submenu__item"><a class="header-submenu__link" href="#">Цикл мероприятий «Музей – школе»</a></li>
      <li class="header-submenu__item"><a class="header-submenu__link" href="#">Школьный праздник в музее</a></li>
      <li class="header-submenu__item"><a class="header-submenu__link" href="#">Родителям детей с РАС</a></li>
      <li class="header-submenu__item"><a class="header-submenu__link" href="#">Памятки для детей и родителей</a></li>
      <li class="header-submenu__item"><a class="header-submenu__link" href="#">Наши мероприятия</a></li>
      <li class="header-submenu__item"><a class="header-submenu__link" href="#">Мастер-классы</a></li>
    </ul>
  </div>
</div>











