<div class="header-submenu">
  <div class="container">
    <ul class="header-submenu__list">
      <li class="header-submenu__item"><a href="#">Режим работы</a></li>
      <li class="header-submenu__item"><a href="#">Схема расположения</a></li>
      <li class="header-submenu__item"><a href="#">Услуги и цены</a></li>
      <li class="header-submenu__item"><a href="#">Правила посещения</a></li>
      <li class="header-submenu__item"><a href="#">Льготные категории</a></li>
      <li class="header-submenu__item"><a href="#">Афиша мероприятий</a></li>
      <li class="header-submenu__item"><a href="#">Виртуальная экскурсия</a></li>
      <li class="header-submenu__item"><a href="#">Заказать услугу</a></li>
      <li class="header-submenu__item"><a href="#">Купить билет</a></li>
      <li class="header-submenu__item"><a href="#">Подписка на e-mail-рассылку</a></li>
      <li class="header-submenu__item"><a href="#">Книга отзывов</a></li>
      <li class="header-submenu__item"><a href="#">Обратная связь</a></li>
      <li class="header-submenu__item"><a href="#">Телефоны доверия</a></li>
      <li class="header-submenu__item"><a href="#">Правовая информация</a></li>
      <li class="header-submenu__item"><a href="#">Музей в соцсетях</a></li>
      <li class="header-submenu__item"><a href="#">Сувенирная продукция</a></li>
      <li class="header-submenu__item"><a href="#">Часто задаваемые вопросы</a></li>
      <li class="header-submenu__item"><a href="#">Музей на bus.gov.ru</a></li>
      <li class="header-submenu__item"><a href="#">Артефакт</a></li>
      <li class="header-submenu__item"><a href="#">Аудиогид IZI Travel</a></li>
      <li class="header-submenu__item"><a href="#">Анкета посетителя</a></li>
      <li class="header-submenu__item"><a href="#">Музей – детям</a></li>
      <li class="header-submenu__item"><a href="#">Музей. Доступная среда</a></li>
      <li class="header-submenu__item"><a href="#">Мастер-классы</a></li>
    </ul>
  </div>
</div>



















