.news-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__image-link {
    position: relative;
    display: block;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      padding-top: 54%;
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    img {
      @include fill;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      @include transition(transform, 350ms, linear);
    }
  }

  &__time {
    display: block;
    color: $color-primary;
    font-size: 18px;
    line-height: 20px;

    @include media(mobile, up) {
      margin: 30px 0 0;
    }

    @include media(mobile) {
      margin: 22px 0 0;
    }
  }

  &__text {
    display: block;
    margin: 2px 0 0;
    padding-bottom: 30px;
    font-size: 15px;
    line-height: 23px;
  }

  &__action {
    display: inline-block;
    margin-top: auto;
    overflow: hidden;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    color: transparent;
    font-family: 'Book Antiqua', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    transform: translateX(-100%);
    transition: all 500ms ease;

    &:hover {
      color: $color-primary;
      transform: translateY(0);
    }

    &:active {
      color: $color-dark;

      .arrow-left {
        color: $color-dark;
      }
    }

    .arrow-left {
      color: $color-primary;
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      transition: color 500ms ease;
    }
  }
}