.service-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;

  &:hover {
    .service-card__image::before {
      opacity: 0;
    }

    .service-card__image::after {
      opacity: 1;
    }
  }

  &__image {
    @include fill;

    &::before,
    &::after {
      content: '';
      @include fill;
      transition: opacity 350ms ease;
    }

    &::before {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
      opacity: 1;
    }

    &::after {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.3) 100%);
      opacity: 0;
    }
  }

  &__title {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px;
    color: $color-light;
    font-family: 'Book Antiqua', sans-serif;
    font-weight: bold;

    @include media(tablet, up) {
      font-size: 36px;
      line-height: 43px;
    }

    @include media(tablet) {
      padding: 20px 15px;
      font-size: 24px;
      line-height: 28px;
    }

    @include media(tabletSmall, only) {
      padding: 20px 11px;
    }

    @include media(mobile) {
      padding: 20px 11px;
    }

    &--big {
      @include media(tablet, up) {
        font-size: 48px;
        line-height: 58px;
      }

      @include media(mobile, up) {
        padding: 15px 30px;
      }

      @include media(tablet, only) {
        padding: 15px 23px;
        font-size: 36px;
        line-height: 43px;
      }

      @include media(mobile) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    &--medium {
      @include media(tablet, up) {
        font-size: 30px;
        line-height: 30px;
      }

      @include media(tabletSmall, only) {
        font-size: 22px;
        line-height: 26px;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}