.service-card {
  position: relative;
  height: 100%;
  overflow: hidden;

  &::after {
    content: '';
    display: block;

    @include media(mobile) {
      padding-top: 33%;
    }
  }

  &__link {
    @include fill;
    display: block;
    height: 100%;

    &--with-img {
      &::before {
        content: '';
        @include fill;
        z-index: z(default) + 1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
        transition: opacity 350ms ease;
        opacity: 1;
      }

      &::after {
        content: '';
        @include fill;
        z-index: z(default) + 1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.3) 100%);
        opacity: 0;
        transition: opacity 350ms ease;
      }

      &:hover {
        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: z(default) + 2;
    display: block;
    margin: 0;
    color: $color-light;
    font-family: 'Book Antiqua', sans-serif;
    font-style: normal;
    font-weight: bold;

    @include media(tabletSmall, up) {
      font-size: 36px;
      line-height: 43px;
    }

    @include media(tabletSmall) {
      font-size: 24px;
      line-height: 29px;
    }

    @include media(mobile) {
      bottom: 10px;
      left: 10px;
    }
  }

  img {
    @include fill;
    z-index: z(default);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &--afisha {
    &::after {
      @include media(mobile, up) {
        padding-top: 86.65%;
      }

      @include media(tabletSmall, only) {
        padding-top: 139%;
      }

      @include media(mobile) {
        padding-top: 63%;
      }
    }

    .service-card__title {
      @include media(tabletSmall, up) {
        font-size: 48px;
        line-height: 58px;
      }

      @include media(tabletSmall, only) {
        font-size: 36px;
        line-height: 43px;
      }
    }
  }

  &--tickets {
    background-color: $color-dark;

    .service-card__link {
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        z-index: z(default) + 1;
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        background-color: $color-white;
        border-radius: 50%;

        @include media(mobile) {
          width: 25px;
          height: 25px;
        }
      }

      &::before {
        left: -6px;
        transform: translate(-50%, -50%);

        @include media(mobile) {
          left: -2px;
        }
      }

      &::after {
        right: -6px;
        transform: translate(50%, -50%);

        @include media(mobile) {
          right: -2px;
        }
      }
    }

    &::before {
      position: absolute;
      left: 81%;
      z-index: z(default);
      margin-right: 118px;
      content: '';
      width: 2.5px;
      height: 100%;
      background: linear-gradient(to bottom, transparent 50%, $color-dark 50%), white;
      background-size: 2.5px 25px, 100% 25px;
      background-position-y: -5px;

      @include media(tablet) {
        margin-right: 20%;
        background-size: 2.5px 30px, 100% 30px;
        background-position-y: 0;
      }

      @include media(tabletSmall) {
        background-size: 2.5px 35px, 100% 35px;
      }

      @include media(mobile) {
        background-size: 2.5px 15px, 100% 15px;
        background-position-y: -5px;
      }

      @include media(mobileSmall) {
        background-size: 2px 25px, 100% 15px;
        background-position-y: -5px;
      }
    }

    &::after {
      @include media(tablet, up) {
        padding-top: 32%;
      }

      @include media(tablet, only) {
        padding-top: 40%;
      }

      @include media(tabletSmall, only) {
        padding-top: 53%;
      }
    }
  }

  &--services {
    .service-card__link {
      background-color: $color-primary;

      &:hover {
        background-color: $color-primary-hover;
      }
    }
  }

  &--expo {
    &::after {
      @include media(tablet, up) {
        padding-top: 107.2%;
      }

      @include media(tablet, only) {
        padding-top: 140%;
      }

      @include media(tabletSmall, only) {
        padding-top: 175%;
      }
    }

    .service-card__title {
      @include media(tabletSmall, up) {
        font-size: 30px;
        line-height: 30px;
      }

      @include media(tabletSmall) {
        font-size: 22px;
        line-height: 22px;
      }
    }
  }
}