<!DOCTYPE html>
<html lang="ru">

<head>
  {{>core/preload}}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{page-title}}</title>

  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="../css/main.css?v={{cache}}" rel="stylesheet">
</head>

<body class="page{{#if page-mod}} {{page-mod}}{{/if}}{{#if page-class}} {{page-class}}{{/if}}">
<div class="preloader js-preloader"></div>
<div id="panel"></div>
<div id="sr-only"></div>
<div class="page__inner">
