<header class="page__header header{{#if header-mod}} header--{{header-mod}}{{/if}} js-header">
  <div class="container">
    <div class="header__grid">
      <div class="header__brand">
        {{>components/page-logo}}
      </div>
      <div class="header__actions">
        {{>header/header-actions}}
      </div>
      <div class="header__menu js-header__menu">
        {{>header/header-menu menu=active-menu active=current-page}}
      </div>
    </div>
  </div>
</header>

<main class="page__content{{#if no-offset}} page__content--no-offset{{/if}}">
