.btn-file {
  display: inline-flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #5A061F;

  .icon {
    width: 40px;
    height: 52px;
    margin-right: 18px;
  }
}