.btn {
  display: inline-block;
  padding: 5.5px 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: unset;
  border: 1px solid;
  cursor: pointer;
  @include transition;

  &:hover {
    color: $color-primary;
    border-color: $color-primary;
  }

  &:active {
    color: $color-dark;
    border-color: $color-primary;
  }

  //&--focus {
    //outline: 1px solid $color-primary-hover;
  //}

  &[disabled],
  &--disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
    appearance: none;
  }

  // Sizes
  &--small {
    @include btn-small;
  }

  &--large {
    @include btn-large;
  }

  &--w100 {
    width: 100%;
  }

  // Primary
  &--primary {
    color: $color-white;
    background-color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
      color: $color-primary;
      background-color: $color-white;
    }
  }
}
