.btn {
  display: inline-block;
  padding: 13px 16px;
  color: $color-primary;
  @include text-button-s;
  vertical-align: middle;
  text-align: center;
  border-radius: 100px;
  border: 1px solid $color-primary;
  cursor: pointer;
  @include transition;

  &:hover,
  &--hover {
    color: $color-white;
    background-color: $color-primary-hover;
    border-color: $color-primary-hover;
  }

  &--focus {
    outline: 1px solid $color-primary-hover;
  }

  &:disabled,
  &--disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
    appearance: none;
  }

  // Sizes
  &--small {
    @include btn-small;
  }

  &--large {
    @include btn-large;
  }

  &--w100 {
    width: 100%;
  }

  // Primary
  &--primary {
    color: $color-white;
    background-color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
      color: $color-primary;
      background-color: $color-white;
    }
  }
}

.btn-arrow {
  display: inline-flex;
  align-items: center;
  padding: 11px 33px 10px;
  font-family: 'Book Antiqua', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  border: 1.5px solid currentColor;
  @include transition;

  .arrow {
    margin-left: 20px;
  }

  &--primary {
    color: $color-light;
    border-color: $color-primary;

    &:hover {
      border-color: $color-primary-hover;
    }

    &:active {
      color: $color-primary;
    }
  }
}

.btn-ticket {
  position: relative;
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $color-light;
  @include transition;

  &:active,
  &:hover {
    color: $color-light;

    &::before,
    &::after {
      background-color: $color-primary-hover;
    }

    span {
      background-color: $color-primary-hover;

      &::before {
        background: linear-gradient(to bottom, transparent 50%, $color-primary-hover 50%), white;
        background-size: 1px 7.5px, 100% 7.5px;
      }
    }
  }

  &:active {
    color: $color-dark;
  }

  &::before,
  &::after {
    align-self: stretch;
    content: '';
    display: inline-flex;
    width: 6px;
    height: 100%;
    background-color: $color-primary;
    @include transition;
  }

  &::before {
    mask-image: radial-gradient(circle at -2px 50%, transparent 6px, black 6px);
  }

  &::after {
    mask-image: radial-gradient(circle at 8px 50%, transparent 6px, black 6px);
  }

  span {
    display: block;
    padding: 7px 26px 6px 9px;
    background-color: $color-primary;
    @include transition;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 85%;
      z-index: z(default);
      content: '';
      width: 1px;
      height: 100%;
      background: linear-gradient(to bottom, transparent 50%, $color-primary 50%), white;
      background-size: 1px 7.5px, 100% 7.5px;

      @include media(tablet) {
        //margin-right: 20%;
        //background-size: 2.5px 30px, 100% 30px;
        //background-position-y: 0;
      }

      @include media(tabletSmall) {
        //background-size: 2.5px 35px, 100% 35px;
      }

      @include media(mobile) {
        //background-size: 2.5px 15px, 100% 15px;
        //background-position-y: -5px;
      }

      @include media(mobileSmall) {
        //background-size: 2px 25px, 100% 15px;
        //background-position-y: -5px;
      }
    }
  }
}