.form {
  &__container {
    display: grid;
    gap: 15px;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 25px;

    &--15 {
      gap: 15px;
    }
  }

  &__row-title {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: $color-gray;
    text-transform: uppercase;
  }

  &__row-text {
    display: block;
    margin: 0;
    font-size: 13px;
    line-height: 15px;
  }

  &__submit {
    margin-top: 15px;
  }

  &-field {
    position: relative;

    &:focus-within {
      .form-message {
        display: none!important;
      }

      &.error-empty *,
      &.error-empty *::placeholder {
        color: #BAB8B5;
      }
    }

    &__label {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 500;
    }

    &__input {
      display: block;
      width: 100%;
      padding: 15px 16px 13px;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      border: 1px solid $color-dark;
      border-radius: 3px;
      background-color: transparent;
      @include transition;

      @include media(mobile) {
        font-size: 16px;
      }

      &:hover {
        cursor: pointer;
      }

      &:focus {
        background-color: transparent;
      }

      &::placeholder {
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #BAB8B5;

        @include media(mobile) {
          font-size: 16px;
        }
      }

      &[disabled] {
        opacity: 0.25;
        pointer-events: none;
      }

      .error &,
      .error &::placeholder {
        color: #EB5757;
      }

      .error-empty &,
      .error-empty &::placeholder {
        color: transparent;
      }
    }

    &.error {
      *,
      *::placeholder {
        color: #EB5757;
      }
    }

    &.error-empty {
      *,
      *::placeholder {
        color: transparent;
      }
    }
  }

  &-checkbox,
  &-radio {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    &__label {
      position: relative;
      display: flex;
      align-items: center;
    }

    &__input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }

  &-radio {
    $radio-value: 23px;

    &__input {
      width: $radio-value;

      &:checked + * {
        border: 5px solid $color-primary;
      }
    }

    &__icon {
      display: block;
      margin-right: 13px;
      width: $radio-value;
      height: $radio-value;
      border: 2px solid $color-gray;
      border-radius: 50%;
    }
  }

  &-textarea {
    display: block;
    width: 100%;
    min-height: 130px;
    padding: 15px 16px 13px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    resize: none;
    border: 1px solid $color-dark;
    background-color: transparent;

    @include media(mobile) {
      font-size: 16px;
      line-height: 1;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      background-color: transparent;
    }

    &::placeholder {
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #BAB8B5;

      @include media(mobile) {
        font-size: 16px;
        line-height: 1;
      }
    }

    .error &,
    .error &::placeholder {
      color: #EB5757;
    }

    .error-empty &,
    .error-empty &::placeholder {
      color: transparent;
    }

    &[disabled] {
      opacity: 0.25;
      pointer-events: none;
    }
  }

  &-switcher {
    $switcher-width: 40px;
    $switcher-value: 15px;
    $switcher-padding: 4px;

    position: relative;
    display: inline-flex;
    min-width: $switcher-width;
    //min-height: 22px;
    border-radius: 46px;
    overflow: hidden;

    &__input {
      @include fill;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
      cursor: pointer;
      border-radius: 100px;

      &:checked + * {
        background-color: $color-primary;

        > * {
          transform: translateX($switcher-width - $switcher-value - ($switcher-padding * 2));

          &::before {
            //@include sprite('switcher-on');
            //animation: switchOnOff 350ms ease forwards;
          }
        }
      }
    }

    &__label {
      flex: 1 1 100%;
      display: flex;
      align-items: center;
      padding: $switcher-padding;
      background-color: $color-gray;
      transition: all 350ms ease;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $switcher-value;
        height: $switcher-value;
        background-color: $color-white;
        border-radius: 50%;
        transition: all 350ms ease;

        &::before {
          content: '';
          //@include sprite('switcher-off');
          //animation: switchOnOff 350ms ease forwards;
        }
      }
    }
  }

  &-message {
    display: none;
    margin: 0;
    font-size: 13px;
    line-height: 15px;
    color: transparent;

    @include media(mobile) {
      font-size: 16px;
    }

    .error-empty & {
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      z-index: -1;
      display: block;
      padding: 15px 16px 13px;
      color: #EB5757;
      text-transform: uppercase;
      pointer-events: none;
    }
  }

  input, textarea {
    -webkit-appearance: none;
    border-radius: 0;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }

    &::-ms-clear {
      display: none !important;
    }

    &::-ms-reveal {
      display: none !important;
    }

    &::-webkit-input-placeholder {
      line-height: normal !important;
    }
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

._success {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: center;
  }
}

.form-checkbox {
  $checkbox-value: 18px;
  --checkbox-value: #{$checkbox-value};

  &__label-text {
    display: block;
    margin: 0 0 0 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  &__input {
    width: var(--checkbox-value);
    background-color: transparent;
    border: unset;

    &:checked {
      ~ .form-checkbox__icon::before {
        opacity: initial;
      }
    }

    &[disabled] {
      ~ * {
        opacity: 0.25;
        pointer-events: none;
      }
    }
  }

  &__icon {
    flex: 0 0 var(--checkbox-value);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--checkbox-value);
    height: var(--checkbox-value);
    border: 1px solid;

    &::before {
      content: '';
      display: block;
      @include sprite('check');
      opacity: 0;
    }
  }
}