.arrow-right {
  cursor: pointer;
  position: relative;
  width: 23px;
  height: 10px;

  span {
    position: relative;
    top: 50%;
    left: 0;
    width: 23px;
    height: 2px;
    display: block;
    background-color: currentColor;
    transform: translateY(-50%);

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      background-color: currentColor;
    }

    &::before {
      top: 3px;
      right: -2px;
      transform: rotate(-45deg);
    }

    &::after {
      top: -3px;
      right: -2px;
      transform: rotate(45deg);
    }
  }

  &--thin {
    span {
      width: 32px;
      transform: scale(0.75);
    }
  }
}

.arrow-left {
  cursor: pointer;
  position: relative;
  width: 23px;
  height: 10px;

  span {
    position: relative;
    top: 50%;
    right: 0;
    width: 23px;
    height: 2px;
    display: block;
    background-color: currentColor;
    transform: translateY(-50%);
  }

  span::before {
    content: '';
    position: absolute;
    top: 3px;
    left: -2px;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    transform: rotate(45deg);
  }

  span::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -2px;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    transform: rotate(-45deg);
  }
}

.icon-close {
  position: relative;
  z-index: z(default) + 1;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: -5px;
  border-radius: 4px;
  cursor: pointer;
  @include transition(all, 300ms, linear);

  &:hover {
    &::after,
    &::before {
      background-color: $color-gray;
    }
  }

  &::after,
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    display: block;
    width: #{diagonal(10)}px;
    height: 1.5px;
    border-radius: 5px;
    background-color: $color-dark;
    @include transition;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}