.arrow-left {
  cursor: pointer;
  position: relative;
  width: 23px;
  height: 10px;

  span {
    position: relative;
    top: 50%;
    left: 0;
    width: 23px;
    height: 2px;
    display: block;
    background-color: currentColor;
    transform: translateY(-50%);
  }

  span::before {
    content: '';
    position: absolute;
    top: 3px;
    right: -2px;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    transform: rotate(-45deg);
  }

  span::after {
    content: '';
    position: absolute;
    top: -3px;
    right: -2px;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    transform: rotate(45deg);
  }
}