.page-logo {
  display: flex;
  align-items: center;
  font-family: 'Book Antiqua', sans-serif;
  font-style: normal;
  font-weight: bold;

  @include media(tabletSmall, up) {
    font-size: 13px;
    line-height: 13px;
  }

  @include media(tabletSmall) {
    font-size: 12px;
    line-height: 12px;
  }

  .icon {

    @include media(mobile, up) {
      width: 70px;
      height: 44px;
      margin-right: 17px;
    }

    @include media(mobile) {
      width: 60px;
      height: 38px;
      margin-right: 13px;
    }
  }
}