{{#>blocks/common/section section-class="collection-page" title="Иконопись XV-XIX вв"}}
  <div class="section__nav">
    {{>blocks/section-nav/collection}}
  </div>
  <div class="section__content">
    <div class="collection-page__grid">
      <ul class="collection-page__list js-collection-grid">
        <li>
          {{>widgets/collection-single
              img="01"
              author="Имя Фамилия Автора"
              name="Название произведения"
              years="1990-1992"
          }}
        </li>
        <li>
          {{>widgets/collection-single
              img="02"
              author="Имя Фамилия Автора"
              name="Название произведения"
              years="1990-1992"
          }}
        </li>
        <li>
          {{>widgets/collection-single
              img="03"
              author="Имя Фамилия Автора"
              name="Название произведения"
              years="1990-1992"
          }}
        </li>
        <li>
          {{>widgets/collection-single
              img="04"
              author="Имя Фамилия Автора"
              name="Название произведения"
              years="1990-1992"
          }}
        </li>
        <li>
          {{>widgets/collection-single
              img="05"
              author="Имя Фамилия Автора"
              name="Название произведения"
              years="1990-1992"
          }}
        </li>
        <li>
          {{>widgets/collection-single
              img="06"
              author="Имя Фамилия Автора"
              name="Название произведения"
              years="1990-1992"
          }}
        </li>
        <li>
          {{>widgets/collection-single
              img="01"
              author="Имя Фамилия Автора"
              name="Название произведения"
              years="1990-1992"
          }}
        </li>
        <li>
          {{>widgets/collection-single
              img="02"
              author="Имя Фамилия Автора"
              name="Название произведения"
              years="1990-1992"
          }}
        </li>
        <li>
          {{>widgets/collection-single
              img="03"
              author="Имя Фамилия Автора"
              name="Название произведения"
              years="1990-1992"
          }}
        </li>
        <li>
          {{>widgets/collection-single
              img="04"
              author="Имя Фамилия Автора"
              name="Название произведения"
              years="1990-1992"
          }}
        </li>
        <li>
          {{>widgets/collection-single
              img="05"
              author="Имя Фамилия Автора"
              name="Название произведения"
              years="1990-1992"
          }}
        </li>
        <li>
          {{>widgets/collection-single
              img="06"
              author="Имя Фамилия Автора"
              name="Название произведения"
              years="1990-1992"
          }}
        </li>
      </ul>
    </div>
  </div>
{{/blocks/common/section}}
