{{#>blocks/common/section section-class="collections-page" title="Коллекции"}}
  <div class="section__content">
    <div class="collections-page__grid">
      <ul class="collections-page__list">
        <li>
          {{>widgets/collections-card
              title="Государственный художественный музей"
              main=1
          }}
        </li>
        <li>
          {{>widgets/collections-card
              img="01"
              title="Иконопись"
              years="XV-XIX вв"
          }}
        </li>
        <li>
          {{>widgets/collections-card
              img="02"
              title="Живопись"
              years="XVIII-XX вв"
          }}
        </li>
        <li>
          {{>widgets/collections-card
              img="03"
              title="Графика"
              years="XVII-XX вв"
          }}
        </li>
        <li>
          {{>widgets/collections-card
              img="04"
              title="Декоративно-прикладное искусство"
              years="XVIII-XXI вв"
          }}
        </li>
        <li>
          {{>widgets/collections-card
              img="05"
              title="Скульптура"
              years="XVIII-XXI вв"
          }}
        </li>
        <li>
          {{>widgets/collections-card
              img="06"
              title="Современное искусство"
          }}
        </li>
        <li>
          {{>widgets/collections-card
              img="07"
              title="Югра пленэрная"
          }}
        </li>
      </ul>
      <ul class="collections-page__list">
        <li>
          {{>widgets/collections-card
              title="Дом-музей народного художника СССР В.&nbsp;А.&nbsp;Игошева"
              main=1
          }}
        </li>
        <li>
          {{>widgets/collections-card
              img="08"
              title="Коллекция живописи В.&nbsp;А.&nbsp;Игошева"
          }}
        </li>
        <li>
          {{>widgets/collections-card
              img="09"
              title="Коллекция графики советских художников"
          }}
        </li>
        <li>
          {{>widgets/collections-card
              img="10"
              title="Коллекция предметов быта и декоративно-прикладного искусства"
          }}
        </li>
      </ul>
      <ul class="collections-page__list">
        <li>
          {{>widgets/collections-card
              title="Галерея-<br> мастерская <br> художника <br> Г. С. Райшева"
              main=1
          }}
        </li>
        <li>
          {{>widgets/collections-card
              img="11"
              title="Живопись"
          }}
        </li>
        <li>
          {{>widgets/collections-card
              img="12"
              title="Графика"
          }}
        </li>
      </ul>
    </div>
  </div>
{{/blocks/common/section}}
