{{>blocks/common/page-breadcrumbs label-1="Музей -детям" label-2="Музейно-образовательные программы"}}

{{#>blocks/common/section container-md=1}}
  <div class="section__content">
    <div class="collection-page">
      <div class="collection-page__product">
        <div class="slider-thumbs js-slider-thumbs" data-sprite-url="../assets/images/spriteInline.svg">
          {{>components/image img="collections/single/video" ext="jpg"}}
          {{>components/image img="collections/single/video" ext="jpg"}}
          {{>components/image img="collections/single/video" ext="jpg"}}
          {{>components/image img="collections/single/video" ext="jpg"}}
          {{>components/image img="collections/single/single" ext="jpg"}}
          {{>components/image img="collections/single/single" ext="jpg"}}
          {{>components/image img="collections/single/video" ext="jpg"}}
          <iframe width="620" height="350" src="https://www.youtube.com/embed/AAIch8gJ11g" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen loading="lazy" data-poster-src="../assets/images/collections/single/video.jpg" data-poster-alt="Альтернативный текст"></iframe>
        </div>
      </div>
      <div class="collection-page__meta">
        <p class="collection-page__meta-author">Имя Фамилия Автора</p>
        <p class="collection-page__meta-name">Название произведения</p>
        <p class="collection-page__meta-years">1990-1992</p>
      </div>
      <div class="static">
        <p>Картина отражает романтическое видение действительности и социальный оптимизм в Советской России 1920-х –
          начала
          1930-х годов. Произведение Вильямса абсолютно соответствует тому, как воспринимался баланс будущего и настоящего
          в культуре этого времени. Перед нами будто фотография "виртуальной реальности" тех лет, фиксация стремительного
          бега жизни от прошлого к настоящему, от крестьянской лошадки к "железному коню", от аграрной страны к
          индустриальной державе, от темного прошлого к "светлому будущему". Вытянутые корпуса машин, преображенные
          движением, диагональ дороги – все придает композиции динамику и создает ощущение скорости. Впечатление от
          увиденного великолепно передает строка из романа И.Ильфа и Е.Петрова "Золотой теленок"(1931): "Настоящая жизнь
          полетела мимо, радостно трубя и сверкая лаковыми крыльями"</p>
      </div>
      <div class="collection-page__actions">
        <a class="collection-page__actions-link" href="#">
          {{>components/image img="logo/izi-travel" ext="svg"}}
          izi.travel
        </a>
        <a class="collection-page__actions-link" href="#">
          {{>components/image img="logo/artefact" ext="svg"}}
          artefact
        </a>
      </div>
      <div class="collection-page__related">
        <a class="collection-page__related-prev" href="#">{{>icons/arrow-left}}</a>
        <a class="collection-page__related-next" href="#">{{>icons/arrow-right}}</a>
      </div>
    </div>
  </div>
{{/blocks/common/section}}
