<section class="main-services">
  <div class="container">
    <div class="main-services__container">
      <ul class="main-services__grid">
        <li class="main-services__item main-services__item--big">
          <div class="service-card service-card--afisha">
            <a class="service-card__link service-card__link--with-img" href="./announcements.html">
              {{>components/image img="services/afisha" ext="jpg"}}
              <span class="service-card__title">Афиша</span>
            </a>
          </div>
        </li>
        <li class="main-services__item main-services__item--wide">
          <div class="service-card service-card--tickets">
            <a class="service-card__link" href="#">
              <span class="service-card__title">Купить билет</span>
            </a>
          </div>
        </li>
        <li class="main-services__item main-services__item--m-last">
          <div class="service-card service-card--services">
            <a class="service-card__link" href="#">
              <span class="service-card__title">Услуги</span>
            </a>
          </div>
        </li>
        <li class="main-services__item">
          <div class="service-card service-card--expo">
            <a class="service-card__link service-card__link--with-img" href="#">
              {{>components/image img="services/expo" ext="png"}}
              <span class="service-card__title">Виртуальная выставка</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>