<section class="main-services">
  <div class="container">
    <div class="main-services__container">
      <div class="main-services__grid">
        <a class="main-services__item main-services__item--xl" href="./events.html">
          <div class="service-card">
            <div class="service-card__image">
              {{>components/image img="services/afisha" ext="jpg"}}
            </div>
            <p class="service-card__title service-card__title--big">Афиша</p>
          </div>
        </a>
        <a class="main-services__item" href="./expo.html">
          <div class="service-card">
            <div class="service-card__image">
              {{>components/image img="services/expo-2" ext="jpg"}}
            </div>
            <p class="service-card__title">Выставки</p>
          </div>
        </a>
        <a class="main-services__item" href="#">
          <div class="service-card">
            <div class="service-card__image">
              {{>components/image img="services/about" ext="jpg"}}
            </div>
            <p class="service-card__title">О филиале</p>
          </div>
        </a>
        <a class="main-services__item" href="./collections.html">
          <div class="service-card">
            <div class="service-card__image">
              {{>components/image img="services/collections" ext="jpg"}}
            </div>
            <p class="service-card__title">Коллекции</p>
          </div>
        </a>
        <a class="main-services__item" href="#">
          <div class="service-card">
            <div class="service-card__image">
              {{>components/image img="services/author" ext="jpg"}}
            </div>
            <p class="service-card__title service-card__title--medium">О художнике</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>