<div class="section-nav">
  <ul class="section-nav__list">
    <li class="section-nav__item">
      <select class="js-select" data-placeholder="авторы" name="author" id="some-id-1">
        <option value="все события">все авторы</option>
        <option value="выставки">авторы 1</option>
        <option value="Лекции">авторы 2</option>
        <option value="Мастер-классы">авторы 3</option>
        <option value="Экскурсии">авторы 4</option>
      </select>
    </li>
    <li class="section-nav__item">
      <select class="js-select" data-placeholder="периоды" name="periods" id="some-id-2">
        <option value="все события">все периоды</option>
        <option value="выставки">периоды 1</option>
        <option value="Лекции">периоды с очень длинным названием в несколько строк что ли</option>
        <option value="Мастер-классы">обычный период с названием</option>
        <option value="Экскурсии">периоды 4</option>
        <option value="Экскурсии">периоды</option>
        <option value="Экскурсии">периоды</option>
        <option value="Экскурсии">периоды</option>
      </select>
    </li>
    <li class="section-nav__item">
      <select class="js-select" data-placeholder="жанры" name="genres" id="some-id-3">
        <option value="все события">все жанры</option>
        <option value="выставки">жанры 1</option>
        <option value="Лекции">жанры 2</option>
        <option value="Мастер-классы">жанры 3</option>
        <option value="Экскурсии">жанры 4</option>
      </select>
    </li>
  </ul>
</div>
