<div class="section-nav">
  <ul class="section-nav__list">
    <li class="section-nav__item">
      <select class="js-select" data-placeholder="не выбрано" name="events" id="some-id-1">
        <option value="все события" selected>все события</option>
        <option value="выставки">выставки</option>
        <option value="Лекции">Лекции</option>
        <option value="Мастер-классы">Мастер-классы</option>
        <option value="Экскурсии">Экскурсии</option>
      </select>
    </li>
    <li class="section-nav__item">

    </li>
  </ul>
</div>