<div class="section-nav">
  <ul class="section-nav__list">
    <li class="section-nav__item">
      <select class="js-select" data-placeholder="не выбрано" name="events" id="some-id-1">
        <option value="все события" selected>все события</option>
        <option value="выставки">выставки</option>
        <option value="Лекции">Лекции</option>
        <option value="Мастер-классы">Мастер-классы</option>
        <option value="Экскурсии">Экскурсии</option>
      </select>
    </li>
    <li class="section-nav__item">
      <div class="custom-calendar">
        <label class="custom-calendar__label">
          <input class="custom-calendar__input js-datepicker" placeholder="выбрать дату" type="text" onchange="this.setAttribute('data-value', this.value ? this.value : '');">
          <span class="custom-calendar__label-text">выбрать дату</span>
        </label>
      </div>
    </li>
  </ul>
</div>