<div class="section-nav">
  <ul class="section-nav__list">
    <li class="section-nav__item">
      <select class="js-select" data-placeholder="не выбрано" name="expos" id="some-id-1">
        <option value="все события" selected>все выставки</option>
        <option value="выставки">постоянная экспозиция</option>
        <option value="Лекции">временные выставки</option>
        <option value="Мастер-классы">онлайн-выставки</option>
        <option value="Экскурсии">передвижные выставки</option>
      </select>
    </li>
    <li class="section-nav__item">
      <select class="js-select js-select--archive" data-placeholder="архив" name="archive" id="some-id-2">
        <option value="все годы">все годы</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
      </select>
    </li>
  </ul>
</div>