<div class="section-nav">
  <ul class="section-nav__list section-nav__list--tabs">
    <li class="section-nav__item section-nav__item--current">
      <a class="nav-tabs nav-tabs--current" href="#">все новости</a>
    </li>
    <li class="section-nav__item">
      <a class="nav-tabs" href="#">2020</a>
    </li>
    <li class="section-nav__item">
      <a class="nav-tabs" href="#">2019</a>
    </li>
    <li class="section-nav__item">
      <a class="nav-tabs" href="#">2018</a>
    </li>
    <li class="section-nav__item">
      <a class="nav-tabs" href="#">2017</a>
    </li>
    <li class="section-nav__item">
      <a class="nav-tabs" href="#">2016</a>
    </li>
    <li class="section-nav__item">
      <a class="nav-tabs" href="#">2015</a>
    </li>
  </ul>
</div>