<div class="header-actions">
  <div class="header-actions__item">
    {{>header/header-search}}
  </div>
  <div class="header-actions__item _mobile-hidden">{{>ui/btn-ticket label="Купить билет"}}</div>
  <div class="header-actions__item _mobile-hidden"><a class="action-link action-link--tel" href="tel:+73467330868"><span>+7 (3467)</span><b>33-08-68</b></a></div>
  <div class="header-actions__item _tabletSmall-hidden"><a class="action-link" href="#">{{>ui/svg name="eye"}}</a></div>
  <div class="header-actions__item _tabletSmall-visible">
    <button class="mobile-menu" type="button">
      <span class="mobile-menu__icon"></span>
    </button>
  </div>
</div>
