.header {
  --header-bg: #FFFFFF;
  --header-color: rgba(43, 43, 62, 0.95);

  position: relative;
  top: 0;
  z-index: z(header);
  color: var(--header-color);
  transition: background-color 350ms ease;

  @include media(tabletSmall, up) {
    background-color: var(--header-bg);
  }

  &__grid {
    display: grid;
    gap: 10px;

    @include media(tabletSmall, up) {
      grid-template-areas: 'actions actions' 'brand menu';
    }

    @include media(tabletSmall) {
      grid-template-columns: repeat(2, auto);
      align-items: center;
      padding: 20px 0 0;
    }
  }

  &__actions {
    @include media(tabletSmall, up) {
      grid-area: actions;
      padding: 20px 0;
      border-bottom: 1px solid #D5D5D8;

      &.header--main {
        border-bottom: 1px solid rgba(#F9F6F3, 0.7);
      }
    }
  }

  &__brand {
    @include media(tabletSmall, up) {
      grid-area: brand;
    }
  }

  &__menu {
    @include media(tabletSmall, up) {
      grid-area: menu;
      margin-left: auto;
    }

    @include media(tabletSmall) {
      position: absolute;
      top: 100%;
      left: 100%;
      display: none;
    }
  }

  &--main {
    --header-color: #FFFFFF;
    --header-bg: rgba(43, 43, 62, 0.95);

    &:not(.header--filled) {
      --header-color: var(--color-light);
      --header-bg: transparent;
    }

    @include media(tabletSmall, up) {
      margin-bottom: -134px;
    }

    @include media(tabletSmall, only) {
      margin-bottom: -64px;
    }

    @include media(mobile) {
      margin-bottom: -58px;
    }
  }
}

.mobile-opened {
  .header__menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z(default) + 2;
    display: initial;
    background-color: var(--header-bg);
  }
}
