.header-submenu {
  &__container {
    @extend .container;

    @include media(tabletSmall, up) {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    @include media(tabletSmall) {
      max-height: calc(100 * var(--vh) - 90px);
      overflow: auto;
      @include hide-scrollbar;
    }

    @include media(mobile) {
      max-height: calc(100 * var(--vh) - 140px);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 60px;
    width: calc(100vw - 40px);
    max-width: 1280px;

    @include media(tabletSmall) {
      padding-bottom: 40px;
    }
  }

  &__link {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }

    &:active {
      color: $color-dark;
    }

    &--current {
      color: $color-primary;

      &:hover {
        color: $color-primary-hover;
      }
    }

    &.hidden {
      color: transparent;
      pointer-events: none;
      transition: none;
    }

    .header--main & {
      //color: var(--header-color);

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    padding-top: 30px;
    background-color: var(--header-bg);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    @include media(tabletSmall, up) {
      background-color: rgba(#F9F6F3, 0.95);
      @include transition;
    }

    @include media(mobile) {
      padding-top: 10px;
      transition: none;
    }

    &.visible {
      pointer-events: auto;
      visibility: visible;
      opacity: initial;
    }

    .header-submenu__item {
      margin-top: 16px;

      &:first-child {
        margin-top: 0;
      }
    }

    .header-submenu__link {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
    }

    .header-submenu__item--active & {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    .header--main & {
      background-color: var(--header-bg);

      @include media(tabletSmall, up) {
        background-color: rgba(#202033, 0.95);
      }
    }

    .fixed.header--main & {
      background-color: var(--header-bg);

      @include media(tabletSmall, up) {
        background-color: rgba(#F9F6F3, 0.95);
      }
    }
  }
}

.header-submenu__item--active {
  > .header-submenu__link {
    color: $color-primary;
  }
}