.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: z(header);
  color: $color-dark;
  background-color: $color-white;
  @include transition;

  &__grid {
    display: grid;
    gap: 10px;

    @include media(tabletSmall, up) {
      grid-template-areas: 'actions actions' 'brand menu';
    }

    @include media(tabletSmall) {
      grid-template-columns: repeat(2, auto);
      align-items: center;
      padding: 20px 0 0;
    }
  }

  &__actions {
    @include media(tabletSmall, up) {
      grid-area: actions;
      padding: 20px 0;
      border-bottom: 1px solid rgba(#F9F6F3, 0.7);
    }
  }

  &__brand {
    @include media(tabletSmall, up) {
      grid-area: brand;
    }
  }

  &__menu {
    @include media(tabletSmall, up) {
      grid-area: menu;
      margin-left: auto;
    }

    @include media(tabletSmall) {
      display: none;
    }
  }

  &--main {
    color: $color-light;
    background-color: transparent;
  }

  &--filled {
    &.header--main {
      background-color: $color-dark;
      color: $color-light;
    }
  }
}

