.header-menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:first-child .header-menu__link {
      padding-left: 0;
    }

    &:last-child .header-menu__link {
      padding-right: 0;
    }
  }

  &__link {
    display: block;
    padding: 14px 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.0375em;
    text-transform: uppercase;
    text-align: center;

    @include media(tablet) {
      padding: 14px 15px;
    }

    &:hover {
      color: $color-primary;
    }

    &:active {
      color: $color-dark;
    }

    &.current {
      color: $color-primary;

      &:hover {
        color: $color-primary-hover;
      }

      &:active {
        color: $color-dark;
      }
    }
  }

  &__submenu {
    display: none;
  }
}