.header-menu {
  &__mobile {
    display: none;
    position: absolute;
    top: 29px;
    left: 20px;
    right: 20px;

    @include media(mobile) {
      left: 10px;
      right: 10px;
    }

    &.visible {
      display: flex;
    }

    &-title {
      margin-left: 46px;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: -0.04em;
      font-weight: bold;
    }

    &-back {
      display: flex;
      align-items: center;
      width: 25px;
      height: 25px;
      color: inherit;
      transform: rotate(180deg);

      .icon {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__mobile-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 5px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:first-child .header-menu__link {
      @include media(tabletSmall, up) {
        padding-left: 0;
      }
    }

    &:last-child .header-menu__link {
      @include media(tabletSmall, up) {
        padding-right: 0;
      }
    }
  }

  &__link {
    display: inline-block;
    padding: 19px 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.0375em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    @include media(tablet) {
      padding: 19px 15px;
    }

    @include media(mobile) {
      padding: 0 15px;
      line-height: 40px;
    }

    .hover &,
    &:hover {
      color: $color-primary;
    }

    &:active {
      color: $color-dark;
    }

    &--current {
      color: $color-primary;

      &:hover {
        color: $color-primary-hover;
      }

      &:active {
        color: $color-dark;
      }
    }

    &.hidden {
      color: transparent;
      pointer-events: none;
      transition: none;
    }
  }

  &__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
    visibility: hidden;
    opacity: 0;

    @include media(tabletSmall, up) {
      transition: background-color 350ms ease;
      background-color: var(--header-bg);
    }

    .hover & {
      visibility: visible;
      opacity: 1;
    }
  }
}

.mobile-opened {
  .header-menu {
    width: 100%;
    height: 100%;
    padding: 90px 20px 30px;

    @include media(mobile) {
      padding: 90px 5px 30px;
    }

    &__list {
      display: grid;
      align-items: flex-start;
    }

    &__mobile.visible {
      + * .header-menu__item > .header-menu__link {
        color: transparent;
        transition: none;
      }
    }

    &__submenu {
      transition: none;
    }

    &__submenu.visible {
      top: 90px;
      bottom: 0;
      z-index: z(default) + 2;
      visibility: visible;
      opacity: 1;
      transition: none;

      @include media(mobile) {
        padding-top: 10px;
      }

      @include media(mobile) {
        top: 130px;
      }
    }
  }

  .header-submenu {
    &__grid {
      grid-template-columns: repeat(2, 1fr);

      @include media(mobile) {
        grid-template-columns: 1fr;
      }
    }

    &__menu.visible {
      position: fixed;
      top: 90px;
      bottom: 0;
      z-index: z(default) + 3;
      visibility: visible;
      opacity: 1;
      transition: none;

      @include media(mobile) {
        top: 130px;
      }
    }
  }

  .mobile-menu {
    position: relative;
    z-index: z(default) + 3;
  }
}