.page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }

  &__header {
    position: relative;
  }

  &__content {
    flex: 1 0 auto;
    min-height: 1px;

    > *:last-child {
      padding-bottom: 100px!important;
    }
  }

  &__footer {
    flex-shrink: 0;
  }
}

#panel {
  flex: 1 1 100%;
}