.page {
  display: flex;
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }

  &__header {
    position: relative;
  }

  &__content {
    flex: 1 0 auto;
    min-height: 1px;

    @include media(tabletSmall, up) {
      margin-top: 134px;
    }

    @include media(tabletSmall, only) {
      margin-top: 84px;
    }

    @include media(mobile) {
      margin-top: 78px;
    }

    &--no-offset {
      @include media(tabletSmall, up) {
        margin-top: 0;
      }

      @include media(tabletSmall, only) {
        margin-top: 0;
      }

      @include media(mobile) {
        margin-top: 0;
      }
    }
  }

  &__footer {
    flex-shrink: 0;
  }
}
