{{#>blocks/common/section section-class="news-section" title="Новости"}}
  <div class="section__nav">
    <ul class="news-section__tabs">
      <li class="news-section__tabs-item">
        <a class="news-section__tabs-link news-section__tabs-link--current" href="#">все новости</a>
      </li>
      <li class="news-section__tabs-item">
        <a class="news-section__tabs-link" href="#">2020</a>
      </li>
      <li class="news-section__tabs-item">
        <a class="news-section__tabs-link" href="#">2019</a>
      </li>
      <li class="news-section__tabs-item">
        <a class="news-section__tabs-link" href="#">2018</a>
      </li>
      <li class="news-section__tabs-item">
        <a class="news-section__tabs-link" href="#">2017</a>
      </li>
      <li class="news-section__tabs-item">
        <a class="news-section__tabs-link" href="#">2016</a>
      </li>
      <li class="news-section__tabs-item">
        <a class="news-section__tabs-link" href="#">2015</a>
      </li>
    </ul>
  </div>
  <div class="section__content">
    <div class="news-section__grid">
      <ul class="news-section__list">
        <li>
          {{>widgets/news-card
              img="news/01"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere."
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/02"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. "
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/03"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black."
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/01"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere."
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/02"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. "
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/03"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black."
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/01"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere."
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/02"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. "
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/03"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black."
          }}
        </li>
      </ul>
    </div>
    <div class="news-section__pagination">
      {{>blocks/common/page-pagination}}
    </div>
  </div>
{{/blocks/common/section}}