{{#>blocks/common/section section-class="news-all" title="Новости" pagination=1}}
  <div class="section__nav">
    {{>blocks/section-nav/years}}
  </div>
  <div class="section__content">
    <div class="news-all__grid">
      <ul class="news-all__list">
        <li>
          {{>widgets/news-card
              img="news/01"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere."
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/02"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. "
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/03"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black."
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/01"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere."
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/02"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. "
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/03"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black."
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/01"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere."
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/02"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. "
          }}
        </li>
        <li>
          {{>widgets/news-card
              img="news/03"
              datetime="10-02-2020"
              time="10.02.2020"
              text="Apparently we had reached a great height in the atmosphere, for the sky was a dead black."
          }}
        </li>
      </ul>
    </div>
  </div>
{{/blocks/common/section}}
