<li class="header-menu__item js-header__item">
  <a class="header-menu__link js-header__link{{#ifCond active 'events'}} header-menu__link--current{{/ifCond}}"
     href="./events.html">Афиша</a>
</li>
<li class="header-menu__item js-header__item">
  <a class="header-menu__link js-header__link{{#ifCond active 'news'}} header-menu__link--current{{/ifCond}}"
     href="./news.html">Новости</a>
</li>
<li class="header-menu__item js-header__item">
  <a class="header-menu__link js-header__link{{#ifCond active 'collections'}} header-menu__link--current{{/ifCond}}"
     href="./collections.html">Коллекции</a>
</li>
<li class="header-menu__item js-header__item">
  <a class="header-menu__link js-header__link{{#ifCond active 'expositions'}} header-menu__link--current{{/ifCond}}"
     href="./expositions.html">Выставки</a>
</li>
<li class="header-menu__item js-header__item">
  <a class="header-menu__link js-header__link{{#ifCond active 'about'}} header-menu__link--current{{/ifCond}}"
     href="#">О музее</a>
</li>
<li class="header-menu__item js-header__item">
  <span class="header-menu__link js-header__link{{#ifCond active 'departments'}} header-menu__link--current{{/ifCond}}">Филиалы</span>
  <div class="header-menu__submenu js-header__submenu">
    {{>header/submenu/filials}}
  </div>
</li>
<li class="header-menu__item js-header__item">
  <span class="header-menu__link js-header__link{{#ifCond active 'visitors'}} header-menu__link--current{{/ifCond}}">Посетителям</span>
  <div class="header-menu__submenu js-header__submenu">
    {{>header/submenu/visitors}}
  </div>
</li>
