{{#>blocks/common/section title="Обратная связь" title-center=1}}
  <div class="section__content">
    <form class="js-form" data-api-url="location.href">
      <div class="form js-form__container">
        <div class="form__container form__container--15">
          {{>form/input placeholder="Ваше имя" field-name="name" validation="isNotEmpty"}}
          <div class="form__group">
            {{>form/input placeholder="E-mail" field-name="email" type="email" inputmode="email" validation="isValidEmail,isNotEmpty"}}
            {{>form/input
                data-mask="+{7} (000) 000-00-00"
                placeholder="+7 (___) ___ __ __"
                type="tel"
                inputmode="tel"
                input-class="js-masked-input"
                validation="isValidPhone,isNotEmpty"
                field-name="phone"
            }}
          </div>
          {{>form/textarea placeholder="Ваше сообщение" validation="isNotEmpty" field-name="Сообщение"}}
          <p class="form__row-title">куда удобнее получить ответ</p>
          <div class="form__group">
            {{>form/checkbox label="E-mail" field-name="чекбокс E-mail" validation="isValidEmail,isNotEmpty"}}
            {{>form/checkbox label="Телефон" field-name="чекбокс Телефон" validation="isNotEmpty"}}
          </div>
          <div class="form__submit">
            {{>ui/btn-arrow button=1 type="submit" label="Отправить" btn-mode='inline'}}
          </div>
        </div>
      </div>
    </form>
  </div>
{{/blocks/common/section}}
{{#>blocks/common/section title="Подписка на рассылку" title-center=1}}
  <div class="section__content">
    <form class="js-form" data-api-url="location.href">
      <div class="form js-form__container">
        <div class="form__container">
          {{>form/input placeholder="Ваше имя" field-name="name" validation="isNotEmpty"}}
          {{>form/input placeholder="E-mail" field-name="email" type="email" inputmode="email" validation="isValidEmail,isNotEmpty"}}
          <div class="form__submit">
            {{>ui/btn-arrow button=1 type="submit" label="Отправить" btn-mode='inline'}}
          </div>
        </div>
      </div>
    </form>
  </div>
{{/blocks/common/section}}
{{#>blocks/common/section}}
  <h2 style="text-align: center">Подписка на рассылку / успешная отправка</h2>
  <div class="section__content">
    <form class="js-form _success" data-api-url="location.href">
      <div class="form js-form__container">
        <p>Данные успешно отправлены!</p>
      </div>
    </form>
  </div>
{{/blocks/common/section}}
{{#>blocks/common/section title="Заказать услугу" title-center=1}}
  <div class="section__content">
    <form class="js-form" data-api-url="location.href">
      <div class="form js-form__container">
        <div class="form__container">
          {{>form/input placeholder="Название мероприятия" field-name="Названия мероприятия" validation="isNotEmpty"}}
          {{>form/input placeholder="Фамилия Имя Отчество" field-name="name" validation="isNotEmpty"}}
          <div class="form__group">
            {{>form/input placeholder="E-mail" field-name="email" type="email" inputmode="email" validation="isValidEmail,isNotEmpty"}}
            {{>form/input
                data-mask="+{7} (000) 000-00-00"
                placeholder="+7 (___) ___ __ __"
                type="tel"
                inputmode="tel"
                input-class="js-masked-input"
                validation="isValidPhone,isNotEmpty"
                field-name="phone"
            }}
          </div>
          <div class="form__group">
            <div class="custom-calendar custom-calendar--outline js-datepicker">
              <label class="custom-calendar__label">
                <input class="custom-calendar__input js-datepicker__input" data-validation="isNotEmpty" placeholder="Дата посещения" type="text" onchange="this.setAttribute('data-value', this.value ? this.value : '');">
                <span class="custom-calendar__label-text">Дата посещения</span>
                <button class="custom-calendar__clear js-datepicker__clear" type="button" data-clear><i class="icon-close"></i></button>
              </label>
            </div>
            {{>form/input placeholder="Количество человек" field-name="Количество человек" type="number" inputmode="numeric" validation="isNotEmpty"}}
          </div>
          {{>form/textarea placeholder="дополнительные сведения / комментарий" field-name="дополнительные сведения" validation="isNotEmpty"}}
          <div class="form__submit">
            {{>ui/btn-arrow button=1 type="submit" label="Отправить" btn-mode='inline'}}
          </div>
        </div>
      </div>
    </form>
  </div>
{{/blocks/common/section}}
