$icons: (sprite: (width: 170px, height: 162px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
arrow-right: (width: 24px, height: 11px, backgroundX: 0px, backgroundY: 0px),
email: (width: 24px, height: 25px, backgroundX: -24px, backgroundY: -11px),
location: (width: 24px, height: 25px, backgroundX: -48px, backgroundY: -36px),
map: (width: 24px, height: 25px, backgroundX: -72px, backgroundY: -61px),
phone: (width: 24px, height: 25px, backgroundX: -96px, backgroundY: -86px),
popup-close: (width: 26px, height: 26px, backgroundX: -120px, backgroundY: -111px),
time: (width: 24px, height: 25px, backgroundX: -146px, backgroundY: -137px),
);
