.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-ghm-igoshev {
  width: 578.787px;
  height: 679.013px;
}
.icon-ghm-main {
  width: 65px;
  height: 42px;
}
.icon-ghm-raishev {
  width: 634.413px;
  height: 821.907px;
}
.icon-socials-group {
  width: 50px;
  height: 55px;
}
