$icons: (sprite: (width: 300px, height: 293px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
archive: (width: 19px, height: 19px, backgroundX: 0px, backgroundY: 0px),
arrow-right: (width: 24px, height: 11px, backgroundX: -19px, backgroundY: -19px),
carret-down: (width: 14px, height: 9px, backgroundX: -43px, backgroundY: -30px),
check: (width: 14px, height: 12px, backgroundX: -57px, backgroundY: -39px),
clocks: (width: 16px, height: 16px, backgroundX: -71px, backgroundY: -51px),
email: (width: 24px, height: 25px, backgroundX: -87px, backgroundY: -67px),
info: (width: 23px, height: 23px, backgroundX: -111px, backgroundY: -92px),
location: (width: 24px, height: 25px, backgroundX: -134px, backgroundY: -115px),
map: (width: 24px, height: 25px, backgroundX: -158px, backgroundY: -140px),
phone: (width: 24px, height: 25px, backgroundX: -182px, backgroundY: -165px),
pointer: (width: 44px, height: 52px, backgroundX: -206px, backgroundY: -190px),
popup-close: (width: 26px, height: 26px, backgroundX: -250px, backgroundY: -242px),
time: (width: 24px, height: 25px, backgroundX: -276px, backgroundY: -268px),
);
