:root {
  //Primary
  --color-primary: var(--color-gold);
  --color-primary-hover: var(--color-gold-light);

  --color-white: #FFFFFF;
  --color-dark: #2B2B3E;
  --color-light: #F9F6F3;
  --color-gray: #BAB8B5;
  --color-gold: #CFA968;
  --color-gold-light: #F3CD8A;
  --color-gold-layout: #F9F6F3;
  --color-red-dark: #5A061F;

  // Gray
  --color-gray-100: #363C4E;
  --color-gray-100-overlay: #{transparentize(#363C4E, 0.3)};
  --color-gray-80: #717784;
  --color-gray-70: #7B88A5;
  --color-gray-60: #ADB3C5;
  --color-gray-40: #DFE3EC;
  --color-gray-20: #F2F4F8;
  --color-gray-10: #F6F9FF;

  // White
  --color-white-100: #FFFFFF;
  --color-white-80: #{transparentize(#FFFFFF, 0.2)};
  --color-white-70: #{transparentize(#FFFFFF, 0.3)};
  --color-white-50: #{transparentize(#FFFFFF, 0.5)};
  --color-white-20: #{transparentize(#FFFFFF, 0.8)};
  --color-white-10: #{transparentize(#FFFFFF, 0.9)};
}

//Primary
$color-primary: var(--color-primary);
$color-primary-hover: var(--color-primary-hover);

// Gray
$color-gray-100: var(--color-gray-100);
$color-gray-100-70: var(--color-gray-100-overlay);
$color-gray-80: var(--color-gray-80);
$color-gray-70: var(--color-gray-70);
$color-gray-60: var(--color-gray-60);
$color-gray-40: var(--color-gray-40);
$color-gray-20: var(--color-gray-20);
$color-gray-10: var(--color-gray-10);

// Apex
$color-white: var(--color-white);
$color-dark: var(--color-dark);
$color-light: var(--color-light);
$color-gray: var(--color-gray);
$color-gold: var(--color-gold);
$color-gold-light: var(--color-gold-light);
$color-gold-layout: var(--color-gold-layout);
$color-red-dark: var(--color-red-dark);
$color-black: #000000;

$color-white-80: var(--color-white-80);
$color-white-70: var(--color-white-70);
$color-white-50: var(--color-white-50);
$color-white-20: var(--color-white-20);
$color-white-10: var(--color-white-10);
