<section class="company-info">
  <ul>
    <li class="company-info__item company-info__item--address">628011 г. Ханты-Мансийск, <br> ул. Мира, 2</li>
    <li class="company-info__item company-info__item--tel">Tел: <a href="tel:+73467330868">+7 (3467) 33-08-68</a></li>
    <li class="company-info__item company-info__item--mail">E-mail: <a href="mailto:ghm-hmao@mail.ru">ghm-hmao@mail.ru</a></li>
    <li class="company-info__item company-info__item--schedule">Режим работы: <br>
      с 11.00 - до 19.00 <br>
      Выходной: понедельник-вторник <br>
      <small>Последняя среда месяца - санитарный день</small>
    </li>
    <li class="company-info__item company-info__item--scheme"><a href="#">Схема расположения</a></li>
  </ul>
</section>